<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637744987531-9rthcmjgpqonkodkod5g6mnqs0j8ti6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637744987531-9rthcmjgpqonkodkod5g6mnqs0j8ti6v</string>
	<key>API_KEY</key>
	<string>AIzaSyCbLVa2T3RRn8myX6f6wE342pvk7ad2nY4</string>
	<key>GCM_SENDER_ID</key>
	<string>637744987531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AntonSkuratov.Your-Choice</string>
	<key>PROJECT_ID</key>
	<string>youchoice-ce7b5</string>
	<key>STORAGE_BUCKET</key>
	<string>youchoice-ce7b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637744987531:ios:f0a2d77b4db8d1e673838e</string>
</dict>
</plist>